body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#back {
	background: url('assets/bg2.png') top left no-repeat; 
	background-position: center;
}
#monitor2 {
  position: absolute;
  top: 40px;
  left: 600px;
  height: 600px;
  width: 700px;
}
#cabinet2 {
  background: url('assets/cabinet1.png') top left no-repeat; 
  height: 700px;
  width: 700px;
  margin: 40 auto;
  margin-left: 250px;
  margin-top: 65px;
  position: relative; 
}
#glass {
  height: 640px;
  margin-left: -10px;
  max-width: 750px;
  position: relative; 
}
/*#game {
  position: absolute;
  top: 50px;
  left: 610px;
  height: 425px;
  width: 300px;
}*/